* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family : 'Quicksand';
}

body {
    width: 100%;
    overflow-x: hidden;
}

main {
    height: 2550px;
}

/* Navigation Bar */
header {
    display: inline;
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    box-sizing: border-box;
}

.responsive-bar .hamburger-bar img {
    height: 0px;
}

.responsive-bar {
    width: 100%;
    position: absolute;
    height: 100%;
}

.responsive-bar .hamburger-bar {
    display: flex;
    align-items: center;
    height: 100%;
}

.responsive-bar .resp-list {
    width: 300px;
    position: absolute;
    right: 0px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.responsive-bar .resp-list a {
    text-decoration: none;
    color: black;
    padding: 20px;
}

.responsive-bar .resp-list a:hover {
    background-color: rgb(208, 208, 209);
    color: rgb(89, 89, 89); 
    transition: ease-in-out 0.15s;
    padding-left: 30px;
}   

nav {
    display : flex;
    flex-direction: row;
    background-color: white;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
}

nav .logo-perusahaan {
    height: 70px;
    padding-left: 20px;
    padding-top: 5px;
}

.nav-li {
    display: flex;
    padding-left: 50px;
    padding-top: 35px;
    width: 100%;
    z-index: 200;
}

.nav-li li a {
    margin-left: 30px;
    text-decoration: none;
    color: black;
    z-index: 200;
}

.nav-li li a:hover {
    text-decoration: underline;
}

.nav-li li {
    list-style: none;
} 

.button a, .button{
    margin-left: 30px;
    margin-top: 35px;
    text-decoration: none;
}

.logreg {
    position: absolute;
    right: 20px;
    top: 35px;
}

.logreg a {
    color: black;
    margin-right: 20px;   
    text-decoration: none;
}

.dropdown {
    margin-left: 20px;
    border: 2px solid white;
    font-size: 15px;
    margin-bottom: 15px;
    position: relative;
    right: -5px;
    top: -5px;
}

/* Navigation Bar End */

/* banner */
.banner-container img {
    width: 100%;
    object-fit: cover;
    height: 510px;
}

.text-banner {
    position: absolute;
    top: 200px;
    text-align: center;
    width: 100%;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 15px black;
}

/* banner-end */

/* page1 */
.page1 {
    position: absolute;
    top: 500px;
    background-image: linear-gradient(to bottom, #5de0e6, #004aad);
    width: 100%;
    height: 350px;
}

.page1 img {
    height: 350px;
    position: absolute;
    right: 0px;
}

.page1 .container {
    display: flex;
    flex-direction: column;
    height: 350px;
    padding-top: 30px;
    padding-left: 20px;
}

.page1 .title {
    display: flex;
}

.page1 .text-box {
    display: flex;
    justify-content: flex-start;
    text-align: justify;
}

.page1 .text-box p {
    margin-top: 10px;
    width: 650px;
    font-weight: bold;
}

.page1 .container h1 {
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 15px black;
}
/* page1-end */

/* page2- */
.page2 {
    height: 300px;
    width: 100%;
    position: absolute;
    top: 840px;
    background-image: linear-gradient(to bottom, #154fb2, #76eae3, #d3ebed);
}

.page2 img {
    height: 370px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.page2 .text-box {
    display: flex;
    justify-content: flex-end;  
    height: 300px;
    padding-right: 20px;
    text-align: justify;
}

.page2 .text-box p {
    font-size: 25px;
    width: 600px;
    font-weight: bold;
    margin-top: 35px;
}
/* page2-end */

/* page3 */
.page3 {
    height: 350px;
    width: 100%;
    position: absolute;
    top: 1140px;
    background-image: linear-gradient(to bottom, #154fb2, #76eae3, #d3ebed);
}

.page3 img {
    height: 350px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.page3 .text-box {
    display: flex;
    justify-content: flex-start;  
    height: 350px;
    align-items: center;
    padding-left: 20px;
    text-align: justify;
}

.page3 .text-box p {
    font-size: 25px;
    width: 600px;
    font-weight: bold;
    margin-top: 10px;
}
/* page3-end */

/* visi misi */
.visimisi {
    display: flex;
    position: absolute;
    top: 1485px;
    flex-direction: row;    
    width: 100%;
}

.visi, .misi {
    width: 50%;
}

.visi img {
    object-fit: cover;
    height: 450px;
    width: 100%;
}

.misi img {
    object-fit: cover;
    height: 450px;
    width: 100%;
}

.visimisi .title {
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 445px;
    font-size: 50px;
    color: white;
}

.visi .text-box {
    text-shadow: 2px 2px 15px black;
    color: white;
    padding: 30px;
    text-align: justify;
    font-size: 23px;
    position: relative;
    bottom: 460px;
}

.misi .text-box {
    text-shadow: 2px 2px 15px black;
    color: white;
    padding: 30px;
    text-align: justify;
    font-size: 23px;
    position: relative;
    bottom: 460px;
}

.container-line {
    height: 100px;
    position: absolute;
    top: 23px;
    z-index: 200;
    width: 100%;
    display: flex;
    justify-content: center;
}

.line {
    height: 400px;
    position: absolute;
    top: 0px;
    background-color: rgb(255, 255, 255);
    z-index: 300;
    width: 0.3%;
}

/* visi misi end */

/* direksi */

.board .bg {
    position: absolute;
    top: 1930px;
    object-fit: cover;
    width: 100%;
    height: 567px;
}

.board .profile {
    position: absolute;
    height: 400px;
    top: 2103px;
}

.label {
    position: absolute;
    background-color: #004aad;
    color: white;
    font-weight: bold;
    top: 2400px; 
    width: 370px;
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    padding: 10px;
    padding-right: 30px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
}

.board .container .text-box p {
    width: 800px;
}

.board .container {
    position: absolute;
    top: 2000px;
    width: 100%;
}

.board .text-box, .board .title{
    display: flex;
    justify-content: flex-end;
    color: white;
    text-shadow: 2px 2px 15px black;
}

.board .name {
    color: white;
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: -620px;
    text-shadow: 2px 2px 15px black;
    font-size: 25px;
}

.board .text-box {
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    padding-right: 30px;
}

.board .title h1 {
    position: relative;
    left: -370px;
    font-size: 50px;
}

.board .profile-resp img {
    height: 0px;
}

.board .direksi {
    font-size: 0px;
}

/* direksi-end */

/* nilai - nilai (values) */

.values {
    position: absolute;
    top: 2500px;
    width: 100%;
}

.values .container .head-title .title {
    position: absolute;  
    color: white;
    text-shadow: 2px 2px 15px black;
    font-size:2vw;
}

.values .container .head-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.values .container .head-title img {
    object-fit: cover;
    width: 100%;
}

.values .container .content {
    display: flex;
}

.values .container .content .content1, .content2, .content3, .content4 {
    height: 388px;
    width: 25%;    
}

.values .container .content .content1 img, .values .container .content .content2 img, .values .container .content .content3 img, .values .container .content .content4 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.values .container .content .text-box {
    width: 100%;
    position: relative;
    top: -390px;
    padding: 10px;
    height: 100%;
    color: white;
    text-shadow: 2px 2px 15px black;
    padding: 20px;
}

.values .container .content .text-box .title  {
    justify-content: center;
    display: flex;
    width: 100%;
    font-size: 11px;
    margin-bottom: 20px;
}

.values .container .content .text-box .description {
    font-size: 17px;
    text-align: center;
}

/* values-end */

/* bisnis */

.bisnis {
    position: relative;
    top: 2500px;
    width: 100%;
}

.bisnis .container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bisnis .container .head-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

.bisnis .container .head-title .title {
    position: absolute;  
    color: white;
    text-shadow: 2px 2px 15px black;
    font-size: 2vw;
}

.bisnis .container .head-title img {
    width: 100%;
    object-fit: cover;
}

.bisnis .container .content {
    display: flex;
}

.bisnis .container .content .title {
    color: white;
    font-size: 8px;
    text-align: center;
    top: -70px;
    position: relative;
    text-shadow: 2px 2px 15px black;
}

.bisnis .content1, .bisnis .content2, .bisnis .content3, .bisnis .content4, .bisnis .content5, .bisnis .content6 {
    height: 300px;
    width: 16.8%;
}

.bisnis .container .content img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* bisnis-end */

/* responsive */

@media screen and (max-width: 1220px) {
    .page1 .container .text-box p {
        width: 450px;
        font-size: 14px;
    }
    
    .page2 .container .text-box p{
        font-size: 20px;
        width: 500px;
    }

    .page3 .container .text-box p {
        font-size: 20px;
        width: 500px;
    }

    .board .title h1 {
        left: -170px; 
    }

    .board .container .text-box p {
        width: 600px;
    }

    .board .container .name {
        left: -420px;
    }

    .board .text-box p {
        font-size: 20px;
    }
}

@media screen and (max-width: 1115px) {
    .page2 .container .text-box p{
        font-size: 20px;
        width: 450px;
    }

    .page2 img {
        height: 300px;
    }

    .board .title h1 {
        left: -170px; 
    }

    .values .container .content .text-box .description {
        font-size: 16px;
    }

    .values .container .content .text-box .title  {
        width: 100%;
        font-size: 9px;
    }
}

@media screen and (max-width: 1040px) {
    .page3 img {
        height: 320px; 
    }

    .board .title h1 {
        left: -70px; 
    }

    .board .container .text-box p {
        width: 500px;
        font-size: 19px;
    }

    .board .container .name {
        left: -320px;
    }
}

@media screen and (max-width: 950px) {
    .nav-li li a, .logreg {
        font-size: 0px;
    }

    .responsive-bar .hamburger-bar img {
        height: 40px;
        cursor: pointer;
        position: absolute;
        right: 20px;
    }

    .nav-li {
        z-index: 100;
    }    
    
    .responsive-bar {
        z-index: 200;
    }

    header .dropdown {
        height: 0px;
        width: 0px;
    }

    .page1 .title {
        justify-content: center;
    }

    .page1 img {
        height: 0px;
    }

    .page1 .container {
        padding-left: 0px;
    }

    .page1 .text-box {
        justify-content: center;
        text-align: center;
    }

    .page1 .container .text-box p {
        padding-left: 20px;
        padding-right: 20px;
        width: 90%;
        font-size: 15px;
        font-weight: bold;
    }   

    .page2 img {
        height: 0px;
    }

    .page2 .container .text-box {
        display: flex;
        justify-content: center;  
        text-align: center;
        padding-right: 0px;
    }

    .page2 .container .text-box p {
        font-size: 25px;
        width: 800px;
        margin-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .page3 img {
        height: 0px;
    }

    .page3 .container .text-box {
        display: flex;
        justify-content: center;  
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
    }

    .page3 .container .text-box p {
        font-size: 25px;
        width: 800px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .visimisi .title {
        font-size: 30px;
    }

    .visi .text-box p {
        font-size: 18px;
    }

    .misi .text-box p {
        font-size: 18px;
    }

    .board .profile {
        height: 0px;
    }

    .board .container .text-box, .board .container .title, .board .container .text-box p ,.board .container .title h1 {
        justify-content: center;
        right: 0px;
        left: 0px;
    }

    .board .container .title {
        padding: 0px;
        margin: 0px;
    }

    .board .container .text-box {
        padding-right: 15px;
        padding-left: 15px;
    }

    .board .container .name {
        left: 0px;
        right: 0px;
        justify-content: center;
    }

    .board .container .title h1 {
        font-size: 50px;
    }

    .label {
        font-size: 0px;
        background: transparent;
    }

    .board .profile-resp {
        position: absolute;
        width: 100%;
        height: 330px;
        justify-content: center;
        display: flex;
        top: 1970px;
        z-index: 100;
    }

    .board .profile-resp img {
        height: 340px;
    }

    .board .bg {
        height: 800px;
    }

    .board .container {
        top: 2300px;
    }

    .board .container .text-box p {
        width: 800px;
    }

    .board .container .name p {
        left: 0px;
        right: 0px;
    }

    .board .profile-resp .direksi {
        color: white;
        width: 100%;
        font-size: 30px;
        font-weight: bold;
        display: flex;
        text-align: center;
        justify-content: center;
        position: absolute;
        bottom: 0%;
        z-index: 200;
    }

    .board .profile-resp .direksi p {
        background-color: #154fb2;
        width: 320px;
        border-radius: 50px;
    }

    .values {
        top: 2730px;
    }

    .values .container .content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .values .container .content .content1, .values .container .content .content2, .values .container .content .content3, .values .container .content .content4, .values .container .content .content5 {
        width: 43vw;    
        margin: 10px;
    }

    .values .container .content img {
        border-radius: 20px;
    }

    .bisnis {
        top: 3200px;
    }

    .bisnis .container .content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .bisnis .container .content .content1, .bisnis .container .content .content2, .bisnis .container .content .content3, .bisnis .container .content .content4, .bisnis .container .content .content5, .bisnis .container .content .content6 {
        width: 30vw;    
        margin: 5px;
        margin-top: 20px;
    }

    .bisnis .container .content img {
        border-radius: 20px;
    }
}

@media screen and (max-width: 660px) {
    .banner-container img {
        width: 100%;
        object-fit: cover;
        height: 430px;
    }
    
    .banner .text-banner {
        font-size: 35px;
    }

    .page1 .container .text-box p {
        font-size: 13px;
    }

    .page2 .container .text-box p {
        margin-top: 20px;
        font-size: 20px;
    }

    .page3 .container .text-box p {
        font-size: 20px;
    }

    .main-content {
        position: relative;
        top: -550px;
    }

    .visi .text-box p {
        font-size: 15px;
    }

    .misi .text-box p {
        font-size: 15px;
    }

    .board .container .title h1 {
        font-size: 40px;
    }

    .board .container .name p {
        font-size: 18px;
    }

    .board .container .text-box p {
        font-size: 16px;
    }

    .values .container .content .text-box .description {
        font-size: 14px;
    }

    .values .container .content .text-box .title  {
        text-align: center;
    }

    .bisnis {
        top: 3680px;
    }
}

@media screen and (max-width: 470px) {
    .banner .text-banner {
        font-size: 25px;
    }

    .main-content .page1 .text-box p {
        font-size: 12px;
    }

    .visimisi .visi .text-box p, .visimisi .misi .text-box p {
        font-size: 12px;
    }

    .board .bg {
        height: 860px;
    }

    .board .container .name p {
        font-size: 17px;
    }

    .board .container .text-box p {
        font-size: 15px;
    }

    .board .profile-resp {
        padding-left: 25px;
        padding-top: 50px;
    }

    .board .profile-resp img {
        height: 280px;
    }

    .values {
        top: 2790px;
    }

    .values .container .content .content1, .content2, .content3, .content4, .content5 { 
        height: 230px;
    }

    .values .container .content .text-box {
        top: -230px;
    }

    .values .container .content .text-box .title  {
        font-size: 8px;
        margin-bottom: 7px;
    }

    .values .container .content .text-box .description {
        font-size: 9px;
    }

    .bisnis {
        top: 3410px;
    }
}

@media screen and (max-width: 390px) {
    .main-content .page1 .text-box p {
        font-size: 10px;
    }


    .board .profile-resp .direksi {
        font-size: 25px;
        bottom: 5%;
    }

    .board .profile-resp .direksi p {
        width: 220px;
    }

    .board .container .title h1 {
        font-size: 30px;
    }

    .values .container .content .content1, .content2, .content3, .content4, .content5 {
        height: 190px;
    }

    .values .container .content .text-box {
        top: -190px;
    }

    .values .container .content .text-box .description {
        font-size: 7px;
    }

    .bisnis {
        top: 3320px;
    }

    .bisnis .container .content .content1, .bisnis .container .content .content2, .bisnis .container .content .content3, .bisnis .container .content .content4, .bisnis .container .content .content5, .bisnis .container .content .content6 {
        height: 200px;
    }
}

@media screen and (max-width: 350px) {
    .main-content .page2 .text-box p {
        font-size: 18px;
    }

    .main-content .page3 .text-box p {
        font-size: 18px;
    }

    .board .container .text-box p {
        font-size: 14px;
    }

    .visimisi .visi .text-box p, .visimisi .misi .text-box p {
        font-size: 11px;
    }


    .values .container .content .content1, .content2, .content3, .content4, .content5 {
        width: 40vw;
        height: 160px;
    }

    .values .container .content .text-box {
        top: -160px;
    }
    .values .container .content .text-box .description, .values .container .content .text-box .title {
        font-size: 5px;
    }
}

@media screen and (max-width: 300px) {
    .banner .text-banner h1 {
        font-size: 20vw;
    }

    .banner .text-banner p {
        font-size: 20px;
    }

    .main-content .page1 .title h1 {
        font-size: 18px;
        text-align: center;
        justify-content: center;
        display: flex;
    }

    main .main-content .page1 {
        height: 350px;
    }

    main .main-content .page1 .container .text-box p {
        width: 600px;
        font-size: 3.8vw;
    }

    main .main-content .page2 .container .text-box p {
        width: 600px;
        font-size: 6vw;
    }

    main .main-content .page3 .container .text-box p {
        width: 600px;
        font-size: 6vw;
    }

    .visimisi .title h1 {
        font-size: 30px;
    }

    .visimisi .visi .text-box p, .visimisi .misi .text-box p {
        font-size: 3vw;
    }
    
    .board .container .title h1 {
        font-size: 8vw;
    }

    .board .container .name p {
        font-size: 7vw;
    }

    .board .container .text-box p {
        font-size: 4.7vw;
    }

    .board .profile-resp img {
        height: 235px;
    }

    .board .profile-resp .direksi {
        font-size: 7vw;
        bottom: 20vw;
        left: 0px;

    }

    .board .container {
        top: 2280px;
        height: 10vw;
    }

    .values .container .content .content1, .content2, .content3, .content4, .content5 {
        height: 130px;
    }

    .values .container .content .text-box {
        top: -130px;
    }

    .values .container .content .text-box .description, .values .container .content .text-box .title {
        font-size: 3px;
    }

    .bisnis .container .content .content1, .bisnis .container .content .content2, .bisnis .container .content .content3, .bisnis .container .content .content4, .bisnis .container .content .content5, .bisnis .container .content .content6 {
        height: 130px;
    }
}

@media screen and (max-width: 250px) {
    .values .container .content .content1, .content2, .content3, .content4, .content5 {
        width: 37vw;
    }

    .values .container .content .text-box .description {
        font-size: 2px;
    }

    .board .profile-resp img {
        height: 175px;
    }

    .board .container {
        top: 2200px;
    }

    .board .profile-resp .direksi p {
        width: 150px;
    }

    .board .profile-resp .direksi {
        bottom: 35%;
    }
}

@media screen and (max-width: 200px) {
    .board .profile-resp .direksi p {
        width: 120px;
    }

    .board .profile-resp img {
        height: 125px;  
    }

    .board .profile-resp .direksi {
        bottom: 48%;
    }
}

/* responsive end */
